---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About Me";

const skills = ["HTML", "CSS", "Astro"];
---

<BaseLayout pageTitle={pageTitle}>
	<ul>
		{skills.map((skill) => (
			<li class="skill">{skill}</li>
		))}
	</ul>
</BaseLayout>
