---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
interface PageFrontmatter {
	title: string;
}

interface Post {
	url: string;
	frontmatter: PageFrontmatter;
}

const blogList = await Astro.glob('./posts/*.md') as Post[];
---

<BaseLayout pageTitle="Blog Posts">
	<p>This is where I will post about my journy in learning Astro.</p>

	<ul>
		{blogList.map((post) => (
			<BlogPost url={post.url} title={post.frontmatter.title} />
		))}
	</ul>
</BaseLayout>

