---
interface Props {
    platform: string;
    url: string;
}

const { platform, url } = Astro.props;
---

<style>

.icon {
    display: block;
    font-size: 2rem;
    font-family: "Font Awesome 6 Brands";
    font-style: normal;
    font-smooth: always;
    -webkit-font-smoothing: subpixel-antialiased;
}

.icon-github::before {
    content: "\f113";
}

.icon-twitter::before {
    content: "\e61b";
}

.icon-linkedin::before {
    content: "\f08c";
}

a {
    transition: color 0.2s;
}

a:hover {
    color: var(--primary-800);
}

</style>


<a href={url} target="_blank" rel="noopener noreferrer">
    <i class={`icon icon-${platform}`}></i>
</a>


