---
import type { CollectionEntry } from "astro:content";
import BaseLayout from "./BaseLayout.astro";

interface Props {
  post: CollectionEntry<'posts'>;
}

const { post } = Astro.props
---

<BaseLayout pageTitle={post.data.title}>
    <p>Published on: {post.data.pubDate.toString().slice(0, 10)}</p>
    <p>Written by {post.data.author}</p>
    
    <div class="tags">
      {post.data.tags.map((tag: string) => (
	  <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
      ))}
    </div>

    <slot />
</BaseLayout>
